/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body 
{
	margin: 0px;
	padding: 0px;
	height: 100%;
}

/* Standard text-settings below */
html 
{
	font-size: 1em;
    line-height: 0.75em;
}

body 
{
	font-family: Consolas, "Courier New", Courier, monospace;
	background: #000000;
	color: #ffffff;
	text-overflow: inherit;
	padding-left: 10px;
}

pre 
{
	font-family: Consolas, "Courier New", Courier, monospace;
}

.tab2 
{
	margin-left: 1em;
}

.tab15 
{
	margin-left: 14em;
}

select 
{
	font-family: Consolas, "Courier New", Courier, monospace;
	background: #222222;
	color: #ffffff;
	border: 1px solid #000000;
	font-size: 1em;
    line-height: 0.75em;
}

button 
{
	font-family: Consolas, "Courier New", Courier, monospace;
	background: #222222;
	color: #ffffff;
	border: 1px solid #000000;
	font-size: 1em;
    line-height: 0.75em;
	width: 5em;
	height: 2em;
}