/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body 
{
	margin: 0px;
	padding: 0px;
	height: 100%;
}

/* Standard text-settings below */
html 
{
	font-size: 1em;
    line-height: 1.4em;
}

body
{
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
}

a
{
    border: 1px solid rgb(75, 75, 75);
    background: rgb(150, 150, 150);
    color: rgb(0, 0, 0);
    text-decoration: none;
	padding: 0.4em;
	display: inline-block;
	border-radius: 10%;
}

a:hover
{
    border: 1px solid rgb(150, 150, 150);
    background: rgb(225, 225, 225);
    color: rgb(15, 15, 15);
}